<h1> All Articles</h1>
<ul>
<%= @articles.each do |article| %>
<li><%= link_to article.title, article_path(article) %> </li>
<li><%= link_to "update article", edit_article_path(article) %>
<li><%= link_to "Delete", article_path(article),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
 </li>
 <br>
<% end %> 
</ul>
<%= link_to "make a new article", new_article_path %>

